*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.container_page{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_page{
  background-image: url(../background.jpg);
  background-attachment: fixed;
  background-size: cover;
}


footer{
  height: 25px;
  text-align: center;
  background-color: black;
  color: rgb(180, 146, 245);
}

.card_page{
  background: rgb(166, 255, 0);
  border-radius: 25px;
  padding: 25px;
  max-width: 500px;
}